 body {
    font-family: 'Poppins', sans-serif;
}

.card {
    margin: 10px;
    background-color: white;
    border-radius:  3px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    border: 3px solid #ccc; 
}

#image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn-sm {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-primary, .btn-secondary {
    margin-right: 1px;
    border-radius: 3px;
}

.card-body {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    font-size: 25px; 
}

.timestamp {
    font-size: 12px;
    color: gray;
}

@media (max-width: 768px) {
    .col-12 {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        max-width: 60%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        max-width: 33.33%;
    }
}

